# Database Connection (Neon PostgreSQL)
DATABASE_URL=""

# Redis Connection (Upstash / Cloud Redis)
REDIS_URL=redis://default:TYyF6iYf8DAVIVJKgbfHMSQkfGhyXIT3@redis-12992.c212.ap-south-1-1.ec2.cloud.redislabs.com:12992

# RabbitMQ Connection (CloudAMQP)
RABBITMQ_URL=""
CLOUDFLARE_R2_ACCESS_KEY_ID=your_r2_access_key_id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
CLOUDFLARE_R2_BUCKET=your-bucket-name
CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxxx.r2.dev
