# Database Connection (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_pEaOvGUwZq86@ep-falling-scene-aofj6crh-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Redis Connection (Upstash / Cloud Redis)
REDIS_URL=redis://default:TYyF6iYf8DAVIVJKgbfHMSQkfGhyXIT3@redis-12992.c212.ap-south-1-1.ec2.cloud.redislabs.com:12992

# RabbitMQ Connection (CloudAMQP)
RABBITMQ_URL=amqps://lyaokrnj:a-vHeU2IXzZJ_9TL7lfA2t1RFhwNa6Xe@warthog.lmq.cloudamqp.com/lyaokrnj

# Cloudflare R2 Credentials
CLOUDFLARE_R2_ACCOUNT_ID=your_account_id_here
CLOUDFLARE_R2_ACCESS_KEY_ID=your_r2_access_key_id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
CLOUDFLARE_R2_BUCKET=your-bucket-name
CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxxx.r2.dev
